@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.light-mode {
  --white: #ffffff;
  --black: #121212;
  --sidebar: #33383e;
}

.dark-mode {
  --white: #121212;
  --black: #fff;
  --sidebar: #fff;
}

body{
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
  background: var(--white);
  color: var(--black);
}

nav {
  margin: 2rem auto;
  padding: 1rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav{
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  width: auto;
  margin: 0;
  border-radius:0;
  border-radius: 1rem 0 0 1rem  ;
  display:flex;
  flex-direction: column;
}

.nav ul {
  flex-direction: column;
}
.nav ul li{
  padding: 1rem 0;
}

nav ul li p:nth-child(1){
  display: none;
}

.nav  ul li p:nth-child(1){
  display: block;
  color: #121212;
}

.nav ul li p:nth-child(2){
  display: none;
}

.nav #nav-image{
  display: none;
}

nav ul li{
  list-style: none;
  margin-left: 1rem;
}

.gradient{
  background: linear-gradient(#e66465, #9198e5);
}

.services-box {
  background: #ffbd39;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  border-radius: 33% 66% 70% 30% / 49% 62% 38% 51% !important;
}
